@media screen and (max-width: 992px) {
  .subscribe {
    width: 100%;
  }
  .carousel.margin {
    margin-top: -78px;
  }
}
@media screen and (max-width: 768px) {
  .scissorPadding {
    padding: 2.5rem 0;
  }
  .route {
    display: none;
  }
  .strokeContainer {
    width: 90%;
    margin: 0 auto;
  }
  .myCard .min-height {
    min-height: auto;
  }
  .discuss::before {
    font-size: 20vw;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 576px) {
  footer h1 {
    font-size: 2rem;
  }
  footer p {
    font-size: 1rem;
  }
  .discuss h1 {
    font-size: 2rem;
  }
  .discuss p {
    font-size: 13px;
  }
  .circle2 {
    width: 75px;
  }
  .circle3 {
    width: 100px;
    margin-top: 5%;
  }
  .circle4 {
    width: 150px;
  }
  .myCarouselContainer .myCarousel .myImage img {
    width: 150px;
  }
  .myCarouselContainer .myCarousel .myImage {
    margin-right: 25px;
  }
  .logo {
    width: 50px;
  }
  .carousel.margin {
    margin-top: -55px;
  }
  .navbar-toggler {
    padding-right: 0;
  }
}
