@media screen and (max-width: 992px) {
  .subscribe {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .scissorPadding {
    padding: 2.5rem 0;
  }
  .route {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  footer h1 {
    font-size: 2rem;
  }
  footer p {
    font-size: 1rem;
  }
  .discuss h1 {
    font-size: 2rem;
  }
  .discuss p {
    font-size: 13px;
  }
  .circle2 {
    width: 75px;
  }
  .circle3 {
    width: 100px;
    margin-top: 5%;
  }
  .circle4 {
    width: 150px;
  }
}
