* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Josafin";
  src: url(../font/JosefinSans-Medium.ttf);
}
:root {
  --primary: #fae01a;
  --secondary: #1a191a;
}
.primaryBg {
  background: var(--primary);
}
.secondaryBg {
  background: var(--secondary);
}
.primaryText {
  color: var(--primary);
}
.secondaryText {
  color: var(--secondary);
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #fff;
  position: relative;
}
h1,
h2,
h3,
p,
a,
ul,
li,
th,
td,
button,
label,
input,
textarea,
select {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  font-family: "Josafin";
}
h2 {
  font-size: 1.5rem;
  font-family: "Josafin";
}
p,
a,
ul,
li,
th,
td,
button,
label,
input,
textarea,
select {
  font-size: 13px;
  color: var(--secondary);
  font-family: "Montserrat";
}
textarea {
  min-height: 100px;
  max-height: 300px;
}
i {
  font-size: 1rem;
  cursor: pointer;
}
a:hover {
  color: var(--primary);
}
img {
  width: 100%;
  height: auto;
}
.logo {
  width: 100px;
  height: auto;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.myNavbar {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
.links li a {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.links li a.active {
  border-bottom: 2px solid var(--primary);
}
footer h1,
footer p {
  color: #fff;
}
.newsletter input,
.newsletter select,
.newsletter textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 5px 10px 5px 0;
  color: #fff;
}
.newsletter input::placeholder,
.newsletter textarea::placeholder {
  color: #fff;
}
.newsletter select option {
  color: #000;
}
.myBtn {
  background: var(--primary);
  color: #000;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
  border: none;
}
