* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Josafin";
  src: url(../font/JosefinSans-Medium.ttf);
}
:root {
  --primary: #fae01a;
  --secondary: #1a191a;
  --tertiary: #faa01a;
}
.primaryBg {
  background: var(--primary);
}
.secondaryBg {
  background: var(--secondary);
}
.tertiaryBg {
  background: var(--tertiary);
}
.primaryText {
  color: var(--primary);
}
.secondaryText {
  color: var(--secondary);
}
.tertiaryText {
  color: var(--tertiary);
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #fff;
  position: relative;
}
h1,
h2,
h3,
p,
a,
ul,
li,
th,
td,
button,
label,
input,
textarea,
select {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  font-family: "Josafin";
}
h2 {
  font-size: 1.5rem;
  font-family: "Josafin";
}
p,
a,
ul,
li,
th,
td,
button,
label,
input,
textarea,
select {
  font-size: 13px;
  color: var(--secondary);
  font-family: "Montserrat";
}
textarea {
  min-height: 100px;
  max-height: 300px;
}
.myInput {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
i {
  font-size: 1rem;
  cursor: pointer;
}
a:hover {
  color: #000;
}
img {
  width: 100%;
  height: auto;
}
.title {
  font-size: 15px;
  font-weight: bold;
}
.logo {
  width: 100px;
  height: auto;
}
.navbar {
  display: block;
  padding: 0;
  position: sticky;
  top: -78px;
  z-index: 10;
  background: rgb(0 0 0 / 50%);
}
header {
  transition: all 0.3s ease-in-out;
}
header.active {
  background: var(--primary);
}
header.active .links li a.active {
  border-bottom: 1px solid #000;
}
.strokeContainer {
  width: 50%;
  margin: 0 auto;
}
.myNavbar {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
.navbar-nav {
  justify-content: center;
}
.navbar > .container-fluid {
  display: block;
}
.links li a {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
header.active .links li a {
  color: #000;
}
.links li a.active {
  border-bottom: 2px solid var(--primary);
}
.discuss {
  position: relative;
  overflow: hidden;
}
.discuss::before {
  content: "contact us";
  font-size: 18vw;
  color: transparent;
  font-weight: bold;
  -webkit-text-stroke: 1px #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.discuss h1,
.discuss p {
  color: #fff;
}
.discuss h1 {
  font-size: 3rem;
}
.discuss p {
  font-size: 1.25rem;
}
.newsletter input,
.newsletter select,
.newsletter textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 5px 10px 5px 0;
  color: #fff;
}
.newsletter input::placeholder,
.newsletter textarea::placeholder {
  color: #fff;
}
.newsletter select option {
  color: #000;
}
.myBtn {
  background: var(--primary);
  color: #000;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
  border: none;
}
.carousel {
  transition: all 0.3s ease-in-out;
}
.carousel.margin {
  margin-top: -118px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
.space {
  letter-spacing: 0;
}
.stroke {
  width: 33%;
  height: 2px;
  background: var(--primary);
}
.myCarouselContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.myCarouselContainer .myCarousel {
  width: 100%;
  height: auto;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px 50px 0;
}
.myCarouselContainer .myCarousel::-webkit-scrollbar {
  display: none;
}
.myCarouselContainer .myCarousel .myImage {
  margin-right: 50px;
  position: relative;
}
.myCarouselContainer .myCarousel .myImage img {
  width: 200px;
  height: auto;
  aspect-ratio: 1;
}
.myCarouselContainer .myCarousel .myImage:last-child {
  margin-right: 0;
}
.myCarouselContainer .myCarousel .myImage .name {
  width: 100%;
  height: auto;
  padding: 10px;
  background: #00000056;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashedBorder {
  border: 1px dashed var(--tertiary);
  position: relative;
}
.normalBorder {
  border: 2px solid var(--primary);
}
.myRadius {
  border-radius: 10px;
}
.myShadow {
  box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.25);
}
.leftScissor {
  width: 50px;
  position: absolute;
  top: 0;
  left: 2%;
  transform: translateY(-50%);
}
.rightScissor {
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: rotate(180deg) translateY(-50%);
}
.route {
  width: 70%;
  margin: -70px auto;
}
.route img {
  z-index: -1;
}
.infoIcon {
  font-size: 2rem;
}
.social li {
  width: 30px;
  height: 30px;
  border: 1px solid var(--secondary);
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social li a {
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}
.subscribe input {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid var(--primary);
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.subscribe button {
  padding: 5px 10px;
  border: 2px solid var(--primary);
  outline: none;
  background: var(--primary);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.circle {
  border-radius: 50%;
}
.circle1 {
  transform: translate(-20%, -20%) rotate(-22deg);
}
.circle2 {
  width: 100px;
}
.circle3 {
  width: 150px;
  margin-left: 10%;
  margin-top: 10%;
}
.circle4 {
  width: 200px;
  margin-left: auto;
  margin-top: -10%;
}
.circleLogo {
  padding: 10px;
  border: 2px solid var(--primary);
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0px 1px 11px 6px rgba(0, 0, 0, 0.25);
}
.scissorPadding {
  padding: 0.5rem 0;
}
.myCard {
  display: flex;
  align-self: center;
  justify-content: center;
}
.myCard .min-height {
  min-height: 200px;
}
.myCard,
.myCard p,
.myCard i {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.myCard:hover {
  background: var(--primary);
  border-radius: 10px;
}
.myCard:hover.myCard i {
  color: var(--secondary);
}
.scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
}
.extraLogo {
  display: none;
}
.extrLogoImg {
  width: 50px;
}
.square {
  aspect-ratio: 1;
}
